# Технологии обработки больших данных

Занятие 3. PySpark Data Structures

0. Запуск PySpark на локальной машине
1. Spark DataFrame 
2. Spark RDD (разбор предыдущего ДЗ)
3. Spark Pandas API DataFrame
4. Домашнее задание

In [ ]:
%%bash
pip install pandas pyarrow plotly

Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.3.5)
Requirement already satisfied: pyarrow in /usr/local/lib/python3.7/dist-packages (6.0.1)
Requirement already satisfied: plotly in /usr/local/lib/python3.7/dist-packages (5.5.0)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2018.9)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.21.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.7/dist-packages (from plotly) (8.0.1)

In [ ]:
! pip install pyspark

Collecting pyspark
  Downloading pyspark-3.2.1.tar.gz (281.4 MB)
     |████████████████████████████████| 281.4 MB 35 kB/s
Collecting py4j==0.10.9.3
  Downloading py4j-0.10.9.3-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 47.6 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.2.1-py2.py3-none-any.whl size=281853642 sha256=5474e0471d0b577bde331117fc5654af1e706c598c3b6bc93a371f5d5cd857ff
  Stored in directory: /root/.cache/pip/wheels/9f/f5/07/7cd8017084dce4e93e84e92efd1e1d5334db05f2e83bcef74f
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.3 pyspark-3.2.1

In [ ]:
import pyspark

from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()

Рассмотрим пример данных [German Credit](https://www.kaggle.com/uciml/german-credit), которые используются для решении задачи кредитного скоринга. Это небольшой датасет с информацией о клиентах, необходимой для принятия решения - выдавать кредит или нет.  

Сегодня мы не будем решать задачу предсказания, просто разберемся с основными приемами EDA (Exploratory data analysis, [Разведочный анализ данных](https://ru.wikipedia.org/wiki/%D0%A0%D0%B0%D0%B7%D0%B2%D0%B5%D0%B4%D0%BE%D1%87%D0%BD%D1%8B%D0%B9_%D0%B0%D0%BD%D0%B0%D0%BB%D0%B8%D0%B7_%D0%B4%D0%B0%D0%BD%D0%BD%D1%8B%D1%85)).

In [ ]:
DATA_PATH = 'sample_data/credit_data.csv'

**Columns**  

Age (numeric)  
Sex (text: male, female)  
Job (numeric: 0 - unskilled and non-resident, 1 - unskilled and resident, 2 - skilled, 3 - highly skilled)  
Housing (text: own, rent, or free)  
Saving accounts (text - little, moderate, quite rich, rich)  
Checking account (numeric, in DM - Deutsch Mark)  
Credit amount (numeric, in DM)  
Duration (numeric, in month)  
Purpose (text: car, furniture/equipment, radio/TV, domestic appliances, repairs, education, business, vacation/others)

## 1. Spark DataFrame

Базовый класс для работы со структуированными данными в pyspark.

In [ ]:
df = spark.read.csv(DATA_PATH, header=True)
type(df)

pyspark.sql.dataframe.DataFrame

In [ ]:
# First rows in this DataFrame
df.show(10, truncate=False)

+---+---+------+---+-------+---------------+----------------+-------------+--------+-------------------+
|id |Age|Sex   |Job|Housing|Saving_accounts|Checking_account|Credit_amount|Duration|Purpose            |
+---+---+------+---+-------+---------------+----------------+-------------+--------+-------------------+
|0  |67 |male  |2  |own    |NA             |little          |1169         |6       |radio/TV           |
|1  |22 |female|2  |own    |little         |moderate        |5951         |48      |radio/TV           |
|2  |49 |male  |1  |own    |little         |NA              |2096         |12      |education          |
|3  |45 |male  |2  |free   |little         |little          |7882         |42      |furniture/equipment|
|4  |53 |male  |2  |free   |little         |little          |4870         |24      |car                |
|5  |35 |male  |1  |free   |NA             |NA              |9055         |36      |education          |
|6  |53 |male  |2  |own    |quite rich     |NA              |2835         |24      |furniture/equipment|
|7  |35 |male  |3  |rent   |little         |moderate        |6948         |36      |car                |
|8  |61 |male  |1  |own    |rich           |NA              |3059         |12      |radio/TV           |
|9  |28 |male  |3  |own    |little         |moderate        |5234         |30      |car                |
+---+---+------+---+-------+---------------+----------------+-------------+--------+-------------------+
only showing top 10 rows

### Схема данных как в SQL

In [ ]:
schema = "id INT, Age INT, Sex STRING, Job INT, Housing STRING, Saving_accounts STRING, \
Checking_account STRING, Credit_amount INT, Duration INT, Purpose STRING"

In [ ]:
df = spark.read.csv('sample_data/credit_data.csv', schema=schema, header=True )

In [ ]:
df.printSchema()

root
 |-- id: integer (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Job: integer (nullable = true)
 |-- Housing: string (nullable = true)
 |-- Saving_accounts: string (nullable = true)
 |-- Checking_account: string (nullable = true)
 |-- Credit_amount: integer (nullable = true)
 |-- Duration: integer (nullable = true)
 |-- Purpose: string (nullable = true)

### Сортировка и фильтрация данных

In [ ]:
# One column sorting
df.sort('Job', ascending=False).show()

+---+---+------+---+-------+---------------+----------------+-------------+--------+-------------------+
| id|Age|   Sex|Job|Housing|Saving_accounts|Checking_account|Credit_amount|Duration|            Purpose|
+---+---+------+---+-------+---------------+----------------+-------------+--------+-------------------+
| 56| 52|  male|  3|    own|             NA|        moderate|         6468|      12|           radio/TV|
|175| 53|female|  3|    own|             NA|              NA|         7485|      30|                car|
| 58| 23|female|  3|    own|         little|            rich|         1961|      18|                car|
|  9| 28|  male|  3|    own|         little|        moderate|         5234|      30|                car|
| 62| 61|  male|  3|   free|         little|        moderate|         1953|      36|           business|
| 51| 30|  male|  3|    own|         little|        moderate|         5965|      27|                car|
| 72| 51|  male|  3|   free|         little|          little|         1164|       8|    vacation/others|
| 40| 30|  male|  3|    own|     quite rich|              NA|         2333|      30|           radio/TV|
| 74| 40|  male|  3|    own|             NA|          little|         1977|      36|          education|
|106| 39|  male|  3|    own|         little|              NA|         6458|      18|                car|
|116| 30|female|  3|    own|             NA|          little|         7174|      42|           radio/TV|
|  7| 35|  male|  3|   rent|         little|        moderate|         6948|      36|                car|
|119| 36|  male|  3|    own|     quite rich|        moderate|         2366|      12|                car|
| 34| 33|female|  3|    own|         little|            rich|         1474|      12|furniture/equipment|
|121| 41|female|  3|   rent|         little|              NA|         3868|      24|                car|
| 75| 66|  male|  3|   free|         little|          little|         1526|      12|                car|
|128| 34|  male|  3|    own|         little|        moderate|         1860|      12|                car|
| 88| 30|  male|  3|    own|       moderate|          little|         2249|      18|                car|
|141| 30|female|  3|    own|         little|        moderate|         4795|      36|           radio/TV|
|105| 39|  male|  3|    own|         little|        moderate|        11938|      24|    vacation/others|
+---+---+------+---+-------+---------------+----------------+-------------+--------+-------------------+
only showing top 20 rows

In [ ]:
# Few columns sorting
df.sort(['Age', 'Credit_amount'], ascending=[False, True]).show()

+---+---+------+---+-------+---------------+----------------+-------------+--------+---------+
| id|Age|   Sex|Job|Housing|Saving_accounts|Checking_account|Credit_amount|Duration|  Purpose|
+---+---+------+---+-------+---------------+----------------+-------------+--------+---------+
|536| 75|female|  3|    own|             NA|          little|         1374|       6|      car|
|330| 75|  male|  3|   free|         little|          little|         6615|      24|      car|
|756| 74|  male|  0|    own|         little|            rich|         1299|       6|      car|
|430| 74|  male|  1|    own|         little|              NA|         3448|       5| business|
|606| 74|  male|  3|    own|         little|              NA|         4526|      24| business|
|186| 74|female|  3|   free|         little|        moderate|         5129|       9|      car|
|163| 70|  male|  3|   free|         little|        moderate|         7308|      10|      car|
|187| 68|  male|  0|   free|         little|        moderate|         1175|      16|      car|
|846| 68|  male|  2|   rent|             NA|              NA|         6761|      18|      car|
|917| 68|  male|  3|    own|         little|          little|        14896|       6|      car|
|  0| 67|  male|  2|    own|             NA|          little|         1169|       6| radio/TV|
|554| 67|female|  3|    own|         little|        moderate|         1199|       9|education|
|779| 67|female|  2|    own|         little|        moderate|         3872|      18|  repairs|
|137| 66|  male|  1|    own|     quite rich|        moderate|          766|      12| radio/TV|
|723| 66|female|  1|    own|     quite rich|        moderate|          790|       9| radio/TV|
|774| 66|  male|  0|   free|     quite rich|            rich|         1480|      12|      car|
| 75| 66|  male|  3|   free|         little|          little|         1526|      12|      car|
|213| 66|  male|  3|    own|         little|            rich|         1908|      30| business|
|179| 65|  male|  2|    own|         little|          little|          571|      21|      car|
|807| 65|  male|  2|    own|             NA|              NA|          930|      12| radio/TV|
+---+---+------+---+-------+---------------+----------------+-------------+--------+---------+
only showing top 20 rows

In [ ]:
df_car = df.filter(df["Purpose"] == 'car')

In [ ]:
# Доля автокредитов
df_car.count() / df.count()

0.337

### Группировка данных

In [ ]:
df.groupBy("Age").count().sort('Age').show()

+---+-----+
|Age|count|
+---+-----+
| 19|    2|
| 20|   14|
| 21|   14|
| 22|   27|
| 23|   48|
| 24|   44|
| 25|   41|
| 26|   50|
| 27|   51|
| 28|   43|
| 29|   37|
| 30|   40|
| 31|   38|
| 32|   34|
| 33|   33|
| 34|   32|
| 35|   40|
| 36|   39|
| 37|   29|
| 38|   24|
+---+-----+
only showing top 20 rows

## 2. Spark RDD 

Resilient Distributed Dataset. 
Менее удобный, но более производительный контейнер для данных.  

Подробнее про DataFrame, DataSet и RDD на русском языке
[1](https://www.bigdataschool.ru/blog/spark-sql-data-structures.html), 
[2](https://www.bigdataschool.ru/blog/rdd-vs-dataframe-vs-dataset.html).  

На английском рекомендую [официальный гайд](https://spark.apache.org/docs/latest/sql-getting-started.html).

In [ ]:
log_file = spark.read.text('sample_data/log.txt')

In [ ]:
%%time

# Note, we cant use   lambda x:   x.value.upper()
df = log_file.rdd.map(lambda x: ( x.value.upper() ,) ).toDF() 

df.show(truncate=False)

+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|_1                                                                                                                                                                                                                                                                                                                                                                                                                                        |
+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|2022-02-16 17:47:42.154547 ZJV GFU DAM IRO HOJ WUU BIV LEZ QBW LGV DKZ WVJ TZJ ZDU IRO OUO YDO MHX HSW TYI DWI PBJ PWW UWG SUI MDI YSS DKS SEV PNR BQH KKM SVH OPR EOR KXQ UAU HIR GGA WSU WUJ NQX UIF QMK URG CCW BGL VKV WAP FFA MFB EJG UIG YIG PBS HPK JTP DFM FPB IFT NDV IIZ BSM QSP ZVU ENY GMA EKN SAT HGK BGZ KKM QMU CPI GMW QDE WXC NAB UIW PIU ATI CLZ AZE FIE TQT UTG SWN MKV IOJ LJX IMG RLI SAJ RSC TQX YQY SZR MKY KBS NOB|
|2022-02-16 17:47:42.155723 XHX XPP HNU AXU SJI XHY SEQ LHI SFI QDG KQQ YTP JBU OLB DOH OMN XAP CLR XXQ DWM DCO ZFP LNZ EYJ ZSX STK DTD EAE FNO AIO XPU VUQ KFA DFF VDU JIU NWI IUU XSE IWV NRS BMN NRM KOD GTB FPT OXB EJJ QFK YUA HDB ENY TGH LDB EZB AVY FZI ZQV HHF DXM TFK UAK MES GKO CXY EYE KMJ SLF PWL HLS YGK HHN PON GND UIU SGF ATB WUV GEI ZZQ OMC WFH YZG PUU GFU SBF HVP IAY SDZ HBY ZHP HNW NMJ FXK XND ZQY TNP CZI NUT VFT|
|2022-02-16 17:47:42.156961 URW WWL MEC ISM FKG PUB BYJ IHZ VQR HJK RUY EBN UEL WKQ IAA BOX GGE PDU ZXO UBO XJH XMI ZKL IMZ HUP YMQ CHU UMD RMG AXR CIO OXR PTP HDG TQJ GGW GUM OJZ ENH FVF OLL KHF AXF LBK ZEG TUR IZS FEQ ASS IME WEU PJC KRN CGB EHO PZY YXF UFI JRH JGO CCM KRP XJF NMO RKM ARH FRB YRP FBS MLY AHC SVF BZD CCX RIO XTL ZXV JBW ORC JGK BNW BGD KBU EYF LWP JZH HZE VDD WDZ ZFK WUK UNE XAG NNI IRE TMA DZP XZU YNR ZTN|
|2022-02-16 17:47:42.163537 TMI ALQ KFV FCL TVR LAH FKI RGO YSS LGZ ALA FDA XLU SCD ZVJ ZRU QHT CGD WHT QQS IBX AAE CRP AGP FME YUY FPH MCO GZE MKL NMZ BER OGU LRR AHK MZI IGU YXV BSB XYS JUJ APW UOT NZC YVV SCB BQI JSR NLG RLE ROJ RXH QQP VMO AWE SUI JHK PCS RKW IRF BPF OPW KQQ WEW OZK TAW XXR RCN CRD PLA ZBP ZFM HFW RQH KKO SIP SHW LYR OUF LMR IHV EIH OGZ OKE HEV TKD RTI JOA AMY BTL GEK DSA JWU ETZ VOV GGA CPF HGU RXA YYE|
|2022-02-16 17:47:42.164261 RFJ ENS DCR KXF YPJ WCJ NOD DLF EFQ WWG WZP QIJ QXF WFK FZO MUP KMK QDK LPE ACS TTL CCF RUZ TDK XSH HCJ EMH AXD RIX QWY OGB HNT FZD BZF OWP KNQ MSN YYD CIC HWK OWZ FQF ZOS INH SGR RCF KQE UUX QVY MFE QSZ RVR NZY GWH GVS LLN FYM AAD CYH ZNI QNP PRA ZBR KBA XOY EQL BXP HDD MMG WFZ XNP HJY VCL IAT ZVL QKA ZAL LTC DYK CLG FEN HNW SGN QVU JLG JLS MXQ FJB XQI PXF BOQ UDM IMG PWX ZTW SEP LBR RZJ QSJ ZTL|
|2022-02-16 17:47:42.164976 BNH HFG HOP WNI EGX DLY AIS AJX UAR IMO UFE GLR LUJ BVY TKH OEI XLZ MYH UYB HHR BLA XSP MWZ XLF CWD KNQ GQD KGN FBZ SUU DMJ DFP SAV YLJ XIC EJB ZFE OJE EOU GVO WJB IZW SCV YYP KMY MPR BGW VLY LOG EGP QYK HFM TYC XMW LSU AJY USX XEK SKM WXQ RZA TNR HNE UPF HPW VHQ AUE NXO YJB ZLU ZDE CHQ YUF EOM GRL GCY JEZ OIS JCH EXW XUU LXR QZQ JCY ZBF XGH AZT KEE LYZ TRH YXB MYN ODR CAR ZRX LEO BET EBA WMJ KNO|
|2022-02-16 17:47:42.165674 FBB BNV NYA MIL CEO OYG VYU UFD VKO RHQ YJT FIE FOR LYA EBF UKD WCP NCM IXM OMD TTG XWV JLA JSO MWI SKD YVI ZXP HJW NVG CMR JRT RRS CZP ORY CAA VGA QEP QUU HOD CRZ JWV DWL UTT VZA REC ZEH WEM KMJ UHF BVC EFG TRE LZJ ZVJ DWN FUH WJA ZWB NMT QUF CMV LEW QDA QRW SXN YWU DSQ BNQ FKQ ZTA KAX QBS SIA JBK GJH BYS IMM XBI ELW IFR LWD ICZ GSV PVE VWN PLU TRP KOS VAJ CIJ VWU CYP YSI BKQ BSJ LZN VFN WWX GCS|
|2022-02-16 17:47:42.166676 WHU PQX XUO MMJ OGR PDO JJG RSY VBD KLX CEK XTC GXO IMG GYO HAP MPB VDC JSV GLJ CMW RPL FYH CBO ILO JHG DEP SFS RZX RSU ULR SCJ MIB JLF TSZ IRI AQN UAJ OPM OOO LKW BVW RJG GBU NXA HMG EGC HXX USJ XFB IGV OCR XBX IZQ PYD JZR QKT EHJ USU OTX PEW PWJ NDK YCZ PDL KON IYJ VEG CHJ UZW TVZ YWJ DKN JSQ VCW UPI FKQ HOI KLG UTS CSG GWV IPP OPP UMG HWI CVF KTH RXH ZCM FPU TFF YSD WQG ZRD SKS VQK SUB JVD PUX|
|2022-02-16 17:47:42.167349 GYT FYB DRO MWJ HFO CJM YYL IZD DIY STU QNY QWC ZPZ CQP OUW OXB JMH ZNU RIQ HBQ TGV PCF SAP XTZ BYC LUB KKE AYI CXZ UHF ALJ TDP ALL LKW TYP UDF IQH JZQ OPE LDJ QSO IUE ZKF YFG HZD LFI MGH ZRP VNT WMB NUU WTO GFE KNJ IUC PSR UDS BTS AYQ THU TAR PJL LWK PEE QRM WNZ FJR ALM NDC XLM LGC YEV POV JFJ WNG MSL APY RPS OEK ICQ PPQ RDS EGR EDS JDS WHY MLP ESR EAI PHY GEL SES WLF CZE DME QER MGA QDN HDV QKO|
|2022-02-16 17:47:42.168004 IVM LPW ZQK WXC ZLP SIH OIW QNR FQA RVC QJW OVA DWP VHQ GPB UVF RFU UMP OUN SVS NSX KIY GCX MWP NQM BRW YOI YLF RVT XCI OEO XDB DKC XID VTX GNE XED DSZ YZD YTC OHQ DDP IUH CZI MFM RUE SFW CYB ARS URR SXH BCG APK FKY RIZ QMI CPN ZAE LUL DGA ZZD KAW JNF BYL RII WJE AIQ OAW QNG HDA ZLE LPG RBG UYQ XZZ OGI HPE UJZ GFY PSS AMO YYS OVY POX WDM JCD SRO RRL FRN OQG MNO TMQ UKW GJQ QIF YME EQF EIR LRB DXR|
|2022-02-16 17:47:42.168754 ORZ NGI EKK LNV RLG ETO AKX JRY HHX BFF YHM YDM BUL FBA JPR YCP PFG GOD WGD GWD JOG YZR WTD ZAM QIZ QWP TMC TKY PAJ FLC AVX KTR AUZ TXK UOL XRM SSF YIC HRM MDL ADO CRD BLA MVA CAG INE NCS LOJ DMM GSC MIB FVC QVS OZZ KXA FOR RXJ OJN ZPM WXW JNH FPJ MGN RXR NLP SUN SES BWF EMW HBD RML DFF AGN SNV ANL GSK SPH YZQ EUM APG RNP LOA PIF JPN YHT MLK NUP LEJ XFO QGA WNP RJH EKV YSJ CNC NNP XAV PXD INW XOR|
|2022-02-16 17:47:42.169431 YCG XVB UGZ EJY EXD TSJ VCU IIM PGM FCG UXD HIF PDQ BOB WEV QIX NRU UZU POJ XRD MEF TAD PEW JDZ IPZ DMX MPQ FIO OZQ XWJ NGC EQT PXB USS HAG INH FWS FIB OOD CIZ FYX XJC USP OOU MAC KXZ XZK HLR KUH WVG KDW DWD WXQ DBH HPO OIH GKT ELT DUS USQ OAK LKD MYH AGR LHV NZX ZRT XAP VDF AWX SMK CAI XSR EYJ ZKR SCQ IXD KMX GAT AGV FHI XVG YQF LWJ UND HSP ZRS OQE MYH OCD XSE BUW OVC XKU VQV PUK KRE IHK MNC CZW|
|2022-02-16 17:47:42.170268 VPG JSU GXE BPH IWS OLH OTR RWJ NQU WBL KXV APF QAO DIZ MTE DOD EDN EXU XYM FHV NOI IZO TVM IXK ZAO STM GXU EMI FRZ UVH WHC XMV VSM ZOU GGU PPZ VZR SLP SXW SNQ SWP VYR SZZ BYE EHN CLZ PVZ OLP HNN AKO HLN BJU RGA QYU NZY IGO PTT COQ BUP YNZ DNY GXV TAI JKM QMM ZBM WXA BDO XWQ OYQ KUH OJM EFH ZWT XDU YKS UGU DNI BNJ IXS WKA YVG LPD SRC WCH NTM SDR DFQ VDF MUC KTT DJR JBR ZAG CFG MDQ VHC LYA MDM HPF|
|2022-02-16 17:47:42.171248 CTU XIE DFJ BNQ UJK VNC WJI UUS WDA SWW BCW KTA KTR BXU CLE NSO CKR VGO MHI SBV WZS JES IHJ DZS YAQ QAQ VUJ GKC UFW AKW DEV GFQ OFP PDK BYW MZY XVU CKX LFS ZXN VMG HSH SJE OEU TOZ HGY EHE MVY TFX QDI MKW AHQ GKF CKF BZR WYN KOZ XDZ UPQ GLZ XRF PVD LBK PBA YBU WRA OPM UGZ YEP CVF PSE IEA RUK VRI OAI LZS ABS RSF PDV CRF SRU UIZ WQM BLX XYS VVC QHU CSX VHC QDR BME GYG ZBY GOS LOF XQI QVL EPQ SRT ENP|
|2022-02-16 17:47:42.172156 BHR ARZ DVD DAZ ZCG RDJ PJT ZJO JEX IHP MHS XJJ BHO TCL POC YII RFB NBK ABK FBZ BQS BMH KQX WTO TAU VHJ ELR VRT CSP UEO TGF ZMM AVX ALL EJP XCW LLP PPY KPU IXD SJV NPU XCS UJP ZMJ FBR KMY RMT VXN UZF UVP JES TOW QBR KNK NFM NBW BMR PSM XCF CXI GKF ENL PDP GQU HAL ZGC ZQY VUR FMS FBP ZGV ZAB MPW KZA WRD XWE NNG ZDB HCJ EUE ZZW XLO BKF YZJ LOD WDE TIZ GAA OZC DGC BMV ZNE QNX DLS BTI EYG UER ASN WQF|
|2022-02-16 17:47:42.173072 HNP JMT WCP HUR RDQ UQW EKT ZIP OYQ WRG FGJ VFF EOA GKC RCO IEG UZC AGR YHN ETQ XEJ GKB NBM ODP QNS ZXP CGX TLD QCR DWI SSB XLQ SON ZWR LHU NEJ UBW JKM XKA UXA VYR NCF NED WVA KCS QVG KHQ BYD GOB LIV DLR VHM FEK GLC OVW ICC ZDV EPZ CUY VTU VMA URZ BCM MHX THZ BBO XLB OPF TOS TAY IQP DTZ OPQ GNL HPV GCD ELH HWS URT VSY AMI BQJ YVX WPH THS YDG MYG ADK ZAM AJO LCQ CLW TPD OTC IHP YRV DAC DIQ ZAT RDV|
|2022-02-16 17:47:42.174047 ZEW MZO DMM AOA IIV IPO OZL VSV LHW IMF EHQ MPE CLO SHR XIU FNB ZFM XQF CUA VKI HUH HGJ VDO HWE FQL LFB MHQ NHF UQK JXQ UXZ WWC XEZ ZZA ILI JGM GRL QLO HOB WRT SWO NSD MLC SIF MNU AZR SRX HMS AZI PWK JHI PKJ RRD YIW SIB WMY HLL QHP MCQ ZJO HJK VCB IFK FWO KPB YVH SEN LFW ZSZ RUR ZRH PVJ IUQ CCC MFI UKH GZV CYG LFU NIN SOS KTU SNV PMP AQJ FLD UNV WCJ SAQ HCH BOT BZT ZVD XFV TWI GVQ FEM PIA SBG GAL|
|2022-02-16 17:47:42.174767 EVH VLT ZKU OON HDT HYD LKJ TWY OCP HFD JKD LWQ VAC EZL LSA DSY PNH DUJ WRX BMY NFK MMZ HNI TNA SKQ WPA EFC LLH RNA IZK SCZ ETC AOY HCD QUZ SRC CFI APQ VTB RMM BNR QXB GZA YGL OUO YTZ CNE QPU NZQ XSP YJP YEH DYX JEQ PEN XNR AGY ENI PHH JZG QXL XIU CIB HID TIM YRC ZFP UCX XQL FRO BJV IXE RXK XJK DNK GHP BGX JDK XJL UOS JYC NUK YGR WOW VKL KPS IRC JPK VIG HJO LTX OIG DEZ XPZ NPJ OQK HZR LMX ZFC YED|
|2022-02-16 17:47:42.175409 JRF PME HRO SDH WDP FCE PEC OHI CBO YEX JSU FNT HKL ZLY CIC PFC BLV OGV ZIX SXL TBQ ETP TEP QNL VBU EOL QZQ DTF LEC DOM SRZ CYA EVA RHE SST STA PDZ NJT EUT IPT YVP WXF VKR HEP MEO EQO EKO LYW RSJ SVY YOP ECZ WIK BLX WCS VMM XFQ KQD TYW CUN ATI NRG TNX XRJ AGD DHN SRT LHA ORO JPD ZQN CUD LHC BRZ ZEH OIQ OBJ GDK KGQ ELB TIC IFI GQT IAQ NDP UNJ IOB AFL GGJ IKY LJO ZPI NAL FPU WVL KVX DKN BFE OYP CXW|
|2022-02-16 17:47:42.175939 BDY UEJ KWX RZC HDL SVO JMP BMD HDF JFP RUV CAV AOC WVL PXJ HWI OCB APX UZS SIF VYL CUZ WRL AOR IDX JGM JOZ IYT AAA DMX AHU FTR ARS QGI GJA XIH QAO DZI FNZ STI YXQ VST ZPK XDR VYM XCS SHS SZW VSV JYI FZX DYL LCG ANL KTB MBA FOG HIW XRU VMZ GOG TJR AHB SHJ QXD TPR MPL RMF GLH DIF VPF AKA WAP RKK VQL SNQ RQX GDV JPI YOU ECY KCB XRA TFH TWN VJR YZV KED HEZ ILZ MNL VTH EEH QUX PPE XSP GRM MIF NGV NYC|
+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
only showing top 20 rows

CPU times: user 23.2 ms, sys: 460 µs, total: 23.6 ms
Wall time: 336 ms

In [ ]:
with open('sample_data/white_list.txt') as f:
    ww = f.readlines()

ww = "".join([w for w in ww]).split()
ww = list(map(str.lower, ww))

In [ ]:
def white_filter(s):
    w = s.value.split()
    timestamp = str(w[0]) + str(w[1]) + " "
    words = w[2:]
    filtered_words = list(filter(lambda x: x in ww, words))
    return (timestamp, " ".join([w for w in filtered_words])  )

In [ ]:
%%time
df2 = log_file.rdd.map(white_filter).toDF(schema=('TimeStamp', 'Words'))
df2.show(truncate=False)

+--------------------------+-----------+
|TimeStamp                 |Words      |
+--------------------------+-----------+
|2022-02-1617:47:42.154547 |dam sat    |
|2022-02-1617:47:42.155723 |eye nut    |
|2022-02-1617:47:42.156961 |box        |
|2022-02-1617:47:42.163537 |           |
|2022-02-1617:47:42.164261 |nod        |
|2022-02-1617:47:42.164976 |car        |
|2022-02-1617:47:42.165674 |for        |
|2022-02-1617:47:42.166676 |           |
|2022-02-1617:47:42.167349 |all why gel|
|2022-02-1617:47:42.168004 |           |
|2022-02-1617:47:42.168754 |god jog for|
|2022-02-1617:47:42.169431 |           |
|2022-02-1617:47:42.170268 |bye        |
|2022-02-1617:47:42.171248 |           |
|2022-02-1617:47:42.172156 |all tow    |
|2022-02-1617:47:42.173072 |zip        |
|2022-02-1617:47:42.174047 |           |
|2022-02-1617:47:42.174767 |wow        |
|2022-02-1617:47:42.175409 |           |
|2022-02-1617:47:42.175939 |you        |
+--------------------------+-----------+
only showing top 20 rows

CPU times: user 35.5 ms, sys: 2.96 ms, total: 38.5 ms
Wall time: 2.46 s

In [ ]:
wordCounts = df2.rdd.flatMap(lambda line: line[1].split(" "))\
                      .map(lambda word: (word, 1))\
                      .reduceByKey(lambda a, b: a + b)

In [ ]:
%%time
wordCounts.toDF().show()

+---+-----+
| _1|   _2|
+---+-----+
|sat|  495|
|nut|  513|
|   |33234|
|why|  516|
|gel|  522|
|jog|  500|
|bye|  501|
|tow|  498|
|zip|  480|
|now|  487|
|yet|  501|
|vet|  540|
|dot|  521|
|ace|  514|
|fix|  471|
|ink|  492|
|cut|  507|
|rag|  496|
|pup|  504|
|yes|  491|
+---+-----+
only showing top 20 rows

CPU times: user 186 ms, sys: 19.3 ms, total: 205 ms
Wall time: 33 s

## 3. Spark Pandas API 

Начиная с версии Spark 3.2 имеется реализация Pandas API.    
Хороший материал непосредственно по pandas: [mlcourse.ai](https://habr.com/ru/company/ods/blog/322626/)

In [ ]:
# import pandas as pd

import pyspark.pandas as pd

WARNING:root:'PYARROW_IGNORE_TIMEZONE' environment variable was not set. It is required to set this environment variable to '1' in both driver and executor sides if you use pyarrow>=2.0.0. pandas-on-Spark will set it for you but it does not work if there is a Spark context already launched.

In [ ]:
df = pd.read_csv('sample_data/credit_data.csv')
type(df)

pyspark.pandas.frame.DataFrame

In [ ]:
df.head()

   id  Age     Sex  Job Housing Saving_accounts Checking_account  Credit_amount  Duration              Purpose
0   0   67    male    2     own              NA           little           1169         6             radio/TV
1   1   22  female    2     own          little         moderate           5951        48             radio/TV
2   2   49    male    1     own          little               NA           2096        12            education
3   3   45    male    2    free          little           little           7882        42  furniture/equipment
4   4   53    male    2    free          little           little           4870        24                  car

In [ ]:
df.info()

<class 'pyspark.pandas.frame.DataFrame'>
Int64Index: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                1000 non-null   int32
 1   Age               1000 non-null   int32
 2   Sex               1000 non-null   object
 3   Job               1000 non-null   int32
 4   Housing           1000 non-null   object
 5   Saving_accounts   1000 non-null   object
 6   Checking_account  1000 non-null   object
 7   Credit_amount     1000 non-null   int32
 8   Duration          1000 non-null   int32
 9   Purpose           1000 non-null   object
dtypes: int32(5), object(5)

In [ ]:
# Средний возраст заемщиков 
df['Age'].mean()

35.546

In [ ]:
# Статистика по всем числовым колонкам
df.describe()

                id          Age          Job  Credit_amount     Duration
count  1000.000000  1000.000000  1000.000000    1000.000000  1000.000000
mean    499.500000    35.546000     1.904000    3271.258000    20.903000
std     288.819436    11.375469     0.653614    2822.736876    12.058814
min       0.000000    19.000000     0.000000     250.000000     4.000000
25%     249.000000    27.000000     2.000000    1364.000000    12.000000
50%     499.000000    33.000000     2.000000    2319.000000    18.000000
75%     749.000000    42.000000     2.000000    3972.000000    24.000000
max     999.000000    75.000000     3.000000   18424.000000    72.000000

### Индексация и фильтрация данных

In [ ]:
# Индексация python slices 
df[1:11:2]

   id  Age     Sex  Job Housing Saving_accounts Checking_account  Credit_amount  Duration              Purpose
1   1   22  female    2     own          little         moderate           5951        48             radio/TV
3   3   45    male    2    free          little           little           7882        42  furniture/equipment
5   5   35    male    1    free              NA               NA           9055        36            education
7   7   35    male    3    rent          little         moderate           6948        36                  car
9   9   28    male    3     own          little         moderate           5234        30                  car

In [ ]:
# Фильтрация по условию
df[df["Sex"] == 'male']

In [ ]:
# Какой средний размер кредита у заемщиков мужчин?
df[df["Sex"] == 'male']['Credit_amount'].mean()

3448.040579710145

In [ ]:
# Какой средний размер кредита у заемщиков женщин?
df[df["Sex"] == 'female']['Credit_amount'].mean()

2877.7741935483873

### Группировка данных

In [ ]:
# Группировка разделяет df на несколько частей, в которых значения заданной колонки будут одинаковыми
df.groupby('Sex')

In [ ]:
# Можно указать какие колонки нас интересуют 
df.groupby('Sex')['Credit_amount']

In [ ]:
# В конце группировки нужно указать функцию
df.groupby('Sex')['Credit_amount'].mean()

Sex
female    2877.774194
male      3448.040580
Name: Credit_amount, dtype: float64

### Визуализация

In [ ]:
df['Age'].hist()

In [ ]:
df['Age'].plot()

## 4. Домашнее задание

1. Сколько мужчин и женщин (признак Sex) представлено в этом наборе данных?

In [ ]:
# Ваш код здесь

2. Каков средний возраст (признак Age) женщин?

In [ ]:
# Ваш код здесь

3. Какова доля заемщиков с собственным жильем (признак Housing)?

In [ ]:
# Ваш код здесь

4. Каково среднее значение возраста тех, кто имеет высокие накопления (признак Saving_accounts)?

In [ ]:
# Ваш код здесь

5. Каково среднеквадратичное отклонения возраста тех, кто имеет высокие накопления (признак Saving_accounts)?

In [ ]:
# Ваш код здесь

6. Выведите гистограмму категорий покупок (признак Purpose) для мужчин и женщин.

In [ ]:
# Ваш код здесь

7. На что чаще всего берутся длинные кредиты (более 24 мес)?

In [ ]:
# Ваш код здесь

8. Какой средний срок кредита (признак Duration) для заемщиков, имеющих высокие текущие траты (признак Checking_account)?

In [ ]:
# Ваш код здесь

9. Какой средний срок кредита (признак Duration) для заемщиков, имеющих низкие текущие траты (признак Checking_account)?

In [ ]:
# Ваш код здесь

10. На какую цель взят самый дорогой кредит?

In [ ]:
# Ваш код здесь